# See https://docs.gitlab.com/ee/ci/yaml/index.html for all available options

# This script does not include any secrets and was run on a self-hosted runner.
# You will need a GPG key, SSH key, and SSH config. These are specified in the
# other CI build files.

variables:
  VERSION: "7.20.0"

before_script:
  - shopt -s expand_aliases
  - shopt -s localvar_inherit
  - doas apt install -qq -y bash rsync podman flatpak elfutils coreutils slirp4netns rootlesskit binfmt-support fuse-overlayfs flatpak-builder qemu-user-static
  - doas flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
  - doas flatpak install --noninteractive --arch=x86_64 flathub org.electronjs.Electron2.BaseApp//22.08 org.freedesktop.Platform//22.08 org.freedesktop.Sdk//22.08 -y
  - doas flatpak update -y

after_script:
  - podman stop signal-desktop-$VERSION
  - podman container rm signal-desktop-$VERSION
  - podman image rm signal-desktop-image-$VERSION
  - yes y | podman image prune

build:
  stage: build
  tags:
    - vps
  script:
    - bash -c ./ci-build.sh
    - cp ~/signal-desktop.deb .
    - cp ~/signal-desktop_$VERSION.tar.xz .
    - doas mkdir -p /opt/pakrepo
    - doas chown "$USER" /opt/pakrepo
    - flatpak-builder --arch=x86_64 --gpg-sign=FBEF43DC8C6BE9A7 --repo=/opt/pakrepo --force-clean .builddir flatpak.yml
  artifacts:
    when: always
    paths:
      - signal-desktop.deb
      - signal-desktop_$VERSION.tar.xz

deploy:
  stage: deploy
  tags:
    - vps
  script:
    - rsync -azu --delete /opt/pakrepo/ server:/var/www/htdocs/elagost.com/flatpak/repo/
