name: build and deploy signal
on:
  push:
    branches:
      - master
      - main
  workflow_dispatch:
jobs:
  build-and-deploy-signal:
    name: build and deploy signal
    runs-on: ubuntu-latest
    steps:
      - name: install secrets 
        shell: bash
        env:
          ID_RSA: ${{secrets.ID_RSA}}
          SSHCONFIG: ${{secrets.SSHCONFIG}}
          GPG_KEY: ${{secrets.GPG_KEY}}
        run: |
          sudo apt update
          sudo apt install -qq gpg openssh-client
          mkdir -p ~/.ssh
          echo "$ID_RSA" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          echo "$SSHCONFIG" > ~/.ssh/config
          echo "$GPG_KEY" | gpg --import
      - name: checkout code
        uses: actions/checkout@v3
      - name: install deps
        shell: bash
        run: |
          sudo apt install -qq bash rsync podman flatpak elfutils coreutils slirp4netns rootlesskit binfmt-support fuse-overlayfs flatpak-builder qemu-user-static
      - name: build deb
        shell: bash
        env:
          VERSION: "6.14.0"
        run: |
          set -x
          echo "Version is: $VERSION"
          bash ci-build.sh
          podman stop signal-desktop-$VERSION
          cp ~/signal-desktop.deb .
      - name: upload .deb as build artifact 
        env:
          VERSION: "6.14.0"
        uses: actions/upload-artifact@v3
        with:
          name: signal-desktop-arm64-${{ env.VERSION }}.deb
          path: signal-desktop.deb
      - name: install flatpak deps
        shell: bash
        env:
          CI_USER: runner
        run: |
          sudo mkdir -p /opt/pakrepo
          sudo chown "$CI_USER" /opt/pakrepo
          sudo flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
          sudo flatpak install --noninteractive --arch=aarch64 flathub org.electronjs.Electron2.BaseApp//22.08 org.freedesktop.Platform//22.08 org.freedesktop.Sdk//22.08 -y
      - name: build flatpak
        shell: bash
        run: |
          flatpak-builder --arch=aarch64 --gpg-sign=FBEF43DC8C6BE9A7 --repo=/opt/pakrepo --force-clean .builddir flatpak.yml
      - name: sync to server
        shell: bash
        run: |
          rsync -azu --delete /opt/pakrepo/ server:/var/www/htdocs/elagost.com/flatpak/repo/

