name: build and deploy signal
on:
  push:
    branches:
      - main
      - master
      - testing
  workflow_dispatch:
jobs:
  build-and-deploy-signal:
    runs-on: self-hosted
    #runs-on: ubuntu-latest
    name: build and deploy signal
    steps:
      - name: Set env.BRANCH
        run: echo "BRANCH=$(echo $GITHUB_REF | cut -d'/' -f 3)" >> $GITHUB_ENV
      - name: install secrets 
        shell: bash
        env:
          ID_RSA: ${{secrets.ID_RSA}}
          SSHCONFIG: ${{secrets.SSHCONFIG}}
          GPG_KEY: ${{secrets.GPG_KEY}}
        run: |
          sudo apt update
          sudo apt install -qq -y gpg openssh-client
          mkdir -p ~/.ssh
          echo "$ID_RSA" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          echo "$SSHCONFIG" > ~/.ssh/config
          echo "$GPG_KEY" | gpg --import
      - name: checkout code
        uses: actions/checkout@v3
      - name: install deps
        shell: bash
        run: |
          sudo apt install -qq -y bash rsync podman flatpak elfutils coreutils slirp4netns rootlesskit binfmt-support fuse-overlayfs flatpak-builder qemu-user-static
      - name: build deb
        shell: bash
        env:
          VERSION: "6.34.1"
        run: |
          set -x
          echo "Version is: $VERSION"
          bash ci-build.sh
          podman stop signal-desktop-$VERSION
          cp ~/signal-desktop.deb .
      - name: upload .deb as build artifact 
        env:
          VERSION: "6.34.1"
        uses: actions/upload-artifact@v3
        with:
          name: signal-desktop-arm64-${{ env.VERSION }}.deb
          path: signal-desktop.deb
      - name: install flatpak deps
        shell: bash
        env:
          CI_USER: runner
        run: |
          sudo mkdir -p /opt/pakrepo
          sudo chown "$USER" /opt/pakrepo
          sudo flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
          sudo flatpak install --noninteractive --arch=aarch64 flathub org.electronjs.Electron2.BaseApp//23.08 org.freedesktop.Platform//23.08 org.freedesktop.Sdk//23.08 -y
      - name: build flatpak
        shell: bash
        run: |
          flatpak-builder --arch=aarch64 --gpg-sign=FBEF43DC8C6BE9A7 --repo=/opt/pakrepo --force-clean .builddir flatpak.yml
      - name: sync to server
        shell: bash
        if: env.BRANCH == 'master'
        run: |
          rsync -azu --delete /opt/pakrepo/ server:/var/www/htdocs/elagost.com/flatpak/repo/
      - name: clean up images for self-hosted runner
        env:
          VERSION: "6.34.1"
        shell: bash
        run: |
          podman container rm signal-desktop-${{ env.VERSION }}
          podman image rm localhost/signal-desktop-image-${{ env.VERSION }}:latest

