name: check for new version
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
jobs:
  autobuild-sh:
    runs-on: ubuntu-latest
    name: 'check for release'
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: install deps
        shell: bash
        run: |
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git config --global user.name "${{ github.actor }}"
          ./autobuild.sh
